*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: Figtree;
  src: url(assets/fonts/static/Figtree-ExtraBold.ttf);
  font-weight: var(--fw-ExtraBold);
}
@font-face {
  font-family: Figtree;
  src: url(assets/fonts/Figtree-VariableFont_wght.ttf);
  font-weight: var(--fw-medium);
}

:root {
  --color-Yellow: hsl(47, 88%, 63%);
  --color-White: hsl(0, 0%, 100%);
  --color-500: hsl(0, 0%, 42%);
  --color-900: hsl(0, 0%, 7%);

  --fw-medium: 500;
  --fw-ExtraBold: 800;

  --fs-small : 0.875rem; 
  --fs-medium : 1rem;
  --fs-big : 1.5rem; 

  --color-black: #111111;
  --color-darkGrey: #6b6b6b;
}
body {
  max-width: 1440px;
  height: 100vh;
  background: var(--color-Yellow);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  max-width: 384px;
  max-height: 522px;
  border-radius: 20px;
  box-shadow: 8px 8px 0 #000000;
  border: 1px solid #111111;
  background: var(--color-White);
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
}
.blog-image {
  max-width: 336px;
  max-height: 200px;
  border-radius: 10px;
}
main {
  max-width: 336px;
  max-height: 194px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: left;
}

.learning {
  max-width: 82px;
  max-height: 29px;
  border-radius: 4px;
  background: var(--color-Yellow);
  font-family: Figtree;
  font-size: var(--fs-small);
  font-weight: var(--fw-ExtraBold);
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-black);
}
.published-date {
  max-width: 143px;
  max-height: 21px;
  font-family: Figtree;
  font-weight: var(--fw-medium);
  color: var(--color-black);
  font-size:var(--fs-small);
  line-height: 150%;
}
.title {
  font-family: Figtree;
  font-weight: var(--fw-ExtraBold);
  color: var(--color-black);
  font-size: var(--fs-big);
  line-height: 150%;
  max-width: 336px;
  max-height: 36px;
}
.title:hover {
  cursor: pointer;
  color: var(--color-Yellow);
}
.description {
  max-width: 336px;
  max-height: 72px;
  font-family: Figtree;
  font-weight: var(--fw-medium);
  font-size:var(--fs-medium);
  color: var(--color-darkGrey);
}
.author {
  display: flex;
  align-items: center;
  max-width: 129px;
  max-height: 32px;
  gap: 12px;
  color: var(--color-black);
}
.user-pic {
  max-width: 32px;
  max-height: 32px;
}
.author-name {
  max-width: 85px;
  max-height: 21px;
  font-family: Figtree;
  font-weight: var(--fw-ExtraBold);
  font-size: var(--fs-small);
  line-height: 150%;
  color: var(--color-black);
}

@media(min-width: 280px)and(max-width : 395px){
  .container{
    max-width: 375px;
    max-height: 156px;
  }
  .blog-image{
    max-width: 279px;
    height: 200px;
  }
  main{
    max-width: 279px;
    max-height: 173px;
  }
  .learning{
    max-width: 73px;
    max-height: 26px;
  }
  .published-date{
    max-width: 123px;
    max-height: 18px;
  } 
  .title{
    max-width: 279px;
    max-height: 30px;
  } 
}